/* 기본 reset 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* 전역 폰트 설정 */
body {
  font-family: 'Pretendard-Regular';
  color: #202123;
  /* 검정색 */
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}