/* 📌 기본 버튼 스타일 */
.footer .copy-status {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer .copy-status.visible {
  opacity: 1;
  /* ✅ 메시지가 표시될 때 */
}

@media screen and (max-width: 768px) {

  .social-and-contact h3 {
    font-size: 16px;
  }

  .social-and-contact p,
  .social-and-contact button {
    font-size: 14px;
    margin-left: 0px !important;
  }

  .logo-and-policy button {
    font-size: 15px;
  }

  .logo-and-policy p {
    font-size: 12x;
  }
}

@media screen and (max-width: 480px) {
  .social-and-contact h3 {
    font-size: 14px;
  }

  .social-and-contact p,
  .social-and-contact button {
    font-size: 12px;
    margin-left: 0px !important;
  }

  .social-and-contact .social-icons img {
    width: 20px;
    height: 20px;
  }

  .logo-and-policy button {
    font-size: 13px;
  }

  .logo-and-policy p {
    font-size: 8px;
  }

  .footer .copy-status {
    font-size: 10px;
    padding: 4px 8px;
    top: 40px;
  }
}