

/* 디버깅용 레이아웃 표시 */
.container {
   padding-bottom: 30px;
   padding-top: 30px;
}

.grid {
  padding-left: 50px;
  padding-right: 50px;
  /*border: 2px dashed #00ff00;  /* 초록색 테두리로 그리드 영역 표시 */
}

/* 주요 활동 카드 스타일 */
.activity-card {
  display: flex;
  justify-content: center;
  align-items: center;
 /* border: 2px solid #0000ff;  /* 파란색 실선으로 카드 영역 표시 */
  border-radius: 8px;
  height: 250px;
  text-decoration: none;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.activity-card img {
  padding-top: 0px;
  /*border: 1px dashed #444CE0;  /* 보라색 점선으로 이미지 영역 표시 */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.activity-card span {
  /*border: 1px dotted #00ff00;  /* 주황색 점선으로 텍스트 영역 표시 */
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  padding: 5px;  /* 텍스트 영역을 더 잘 보이게 하기 위한 패딩 추가 */
}

.activity-card:hover span {
  display: none;
}

/*
.flex {
  border: 1px dashed #444CE0;
}

.text-center {
  border: 1px dotted #666;
}
 */
