.introduction-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 70px;
  margin: 20px auto;
  margin-bottom: 50px;
  max-width: 1024px;
  border: 2px solid #202123;
}

.text-logo {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.swlug-logo {
  width: 170px;
  height: auto;
  margin: 30px 0;
}

.text-content {
  text-align: center;
  max-width: 800px;
  line-height: 1.6;
  color: #202123;
}

.description {
  font-size: 18px;
  margin-bottom: 15px;
}

.penguin-logo {
  position: absolute;
  /* 절대 위치 지정 */
  bottom: 0px;
  left: 30px;
  width: 180px;
  /* 크기 설정 */
  height: auto;
  /* 비율 유지 */
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .penguin-logo {
    position: static;
    /* 작은 화면에서 절대 위치 제거 */
    margin-top: 20px;
    /* 여백 추가 */
    align-self: center;
    /* 중앙 정렬 */
    width: 180px;
    /* 크기 조정 */
  }
}