.major-acts {
    margin: 20px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    box-sizing: border-box;
}

.intro-activity-card p {
    width: 100%;
    text-align: left;
    padding: 0 15px;
    box-sizing: border-box;
    white-space: pre-line;
}

.card-text {
    white-space: pre-line;
    text-align: left;
    font-size: 16px;
    color: #000000;
    border: 1px;
}

.activity-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activity-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.activity-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.intro-activity-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.activity-img-container {
    width: 95%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

.activity-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding-bottom 제거 */
}

.activity-card p {
    font-size: 16px;
    text-align: center;
    color: #000000;
}