.error-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.error-logo {
  width: 200px;
  height: 200px;
}

.error-description-kr{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.error-description {
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 600;
}

.error-btn {
    margin-top: 50px;
    margin-bottom: 100px;
}