.search-bar {
  width: 300px;
  /* 너비 증가 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 페이지네이션 여백 수정 */
.pagination {
  margin-top: 1rem !important;
  /* !important 추가 */
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* 글쓰기 버튼 컨테이너 스타일 */
.write-button-container {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  margin-top: 30px;
}

/* 글쓰기 버튼 스타일 */
.write-button {
  background-color: #202123;
  color: #F9F9F9;
  padding: 5px 20px;
  border: black solid 1px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: none;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.write-button:hover {
  background-color: #303133;
}

/* 공통 제목 스타일 */
.apply-title {
  font-size: 26px;
}

@media screen and (max-width: 768px) {

  .notice-header div:nth-child(3),
  /* 작성자 숨김 */
  .notice-item div:nth-child(3) {
    display: none;
  }

  .notice-header div:nth-child(2),
  .notice-item div:nth-child(2) {
    width: 40%;
  }

  .notice-header div:nth-child(1),
  .notice-item div:nth-child(1) {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {

  .notice-header div:nth-child(2),
  /* 작성일 숨김 */
  .notice-item div:nth-child(2),
  .notice-header div:nth-child(3),
  /* 작성자 숨김 */
  .notice-item div:nth-child(3) {
    display: none;
  }

  .notice-header div:nth-child(1),
  .notice-item div:nth-child(1) {
    width: 100%;
    text-align: left;
    padding-left: 12px;
  }
}