.privacy-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  line-height: 1.6;
  margin: auto;
}

.privacy-title {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.privacy-heading {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
}

.privacy-intro {
  margin-bottom: 20px;
}