.privacy-container {
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  line-height: 1.6;
  margin: auto;
}

.privacy-title {
  text-align: justify;
  font-size: 1.8rem;
  margin-top: 30px;
  font-weight: 700;
}

.privacy-heading {
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

ul {
  margin-left: 20px;
}

.privacy-intro {
  margin-bottom: 30px;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.privacy-table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 60px;
}

.privacy-table th {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid black;
  /* 헤더 아래 두꺼운 줄 */
}

.privacy-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  /* 일반 행은 얇은 줄 */
}

.privacy-table th {
  font-weight: bold;
}

@media screen and (max-width: 480px) {

  .privacy-table {
    width: 100%;
  }

  .privacy-table th:nth-child(1),
  .privacy-table td:nth-child(1) {
    width: 30%;
  }

  .privacy-table th:nth-child(2),
  .privacy-table td:nth-child(2) {
    width: 45%;
  }

  .privacy-table th:nth-child(3),
  .privacy-table td:nth-child(3) {
    width: 25%;
  }
}