.tabs {
    margin: 20px auto;
    text-align: center;
    /* 디버깅용 테두리 */
    /* border: 2px dashed #ff0000;  /* 빨간색으로 전체 탭 영역 표시 */
}

.tab-buttons {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* 디버깅용 테두리 */
    /*border: 2px dashed #00ff00;  /* 초록색으로 탭 버튼 컨테이너 표시 */
}

.tab-button {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    border: 1px solid #000000;
    border-bottom: none;
    background: #ffffff;
    font-size: 16px;
    transition: all 0.3s;
    border-radius: 30px 30px 0 0;
    margin-right: -1px;
    /* 디버깅용 테두리 */
    /* border: 2px solid #0000ff;  /* 파란색으로 각 탭 버튼 표시 */
}

.tab-button:last-child {
    margin-right: 0;
}

.tab-button.active {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    background-color: #f3f3f3;
}

.tab-button:not(.active):hover {
    background-color: #f9f9f9;
}

.tab-content {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 30px;
    padding-bottom: 0px;
    background-color: #f3f3f3;
    border: 1px solid #6a6a6a;
    border-radius: 10px;
    text-align: left;
    /* 디버깅용 테두리 */
    /*border: 2px dashed #00ff00;  /* 보라색으로 탭 컨텐츠 영역 표시 */
}

